@use 'uswds-core' as *;

// Overide USWDS styling to support z-index of child elements
// (display flex decendents) to usa-overlay.
// See https://stackoverflow.com/a/64991938
.usa-header {
    z-index: initial;

    @include at-media('desktop') {
        z-index: z-index(300);
    }
}

.ncbi-header {
    z-index: z-index(300);
    color: color('white');
    background: color('primary-dark');

    &__container {
        @include u-display('flex');
        align-items: center;
        justify-content: space-between;
        height: 100px;
        max-width: units('desktop');
        padding: 0 units(2.5);
        margin-left: auto;
        margin-right: auto;

        @include at-media('tablet') {
            padding: 0 units(4);
        }
    }

    &__logo-container {
        position: relative;
        height: 100%;

        &:focus {
            outline: $theme-outline-alt;
            // Negative outline offset keeps outline neatly within the header
            outline-offset: units(-0.5);
        }
    }

    &__logo-container-img {
        /* stylelint-disable declaration-no-important */
        position: unset !important;
        padding: units(3) units(1) units(3) 0 !important;
        /* stylelint-enable declaration-no-important */
    }

    &__logo-container-text {
        font-size: font-size('body', 10);
        font-weight: font-weight('bold');
        text-decoration: none;

        &:visited {
            color: color('white');
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__content {
        &--mobile {
            @include u-display('flex');
            @include at-media($theme-header-min-width) {
                display: none;
            }
        }

        &--desktop {
            display: none;
            @include at-media($theme-header-min-width) {
                @include u-display('flex');
            }
        }
    }

    &__hamburger-button {
        background: none;
        border: none;
        padding: units(1.5) units(1.5) units(1);
        margin-right: units(-1.5);

        &:hover {
            cursor: pointer;

            path {
                fill: $theme-color-primary-alt-light;
            }
        }

        &:enabled:focus {
            outline: $theme-outline-alt;
        }
    }
}

.ncbi-search-panel {
    z-index: z-index(300);
    background: color('primary-darker');
    padding: units(2) 0;

    &__container {
        @include u-display('flex');
        @include u-flex('column', 'wrap', 'align-stretch');
        justify-content: center;
        height: units(15);
        max-width: units('desktop');
        padding: 0 units(4);
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        // Prevent USWDS overriding form styling with media query
        max-width: none !important; /* stylelint-disable-line declaration-no-important */

        input[type='search'] {
            @extend .ncbi-text-body-one;
        }
    }

    &__help-text {
        @extend .ncbi-text-body-three;
        margin: units(1) 0 0 0;
        color: color('white');
    }
}
