/*
----------------------------------------
USWDS settings overrides
This file is designed to be used specifically when installed in another project as an NPM package.
If you want to make changes to these theme settings, copy and paste this file into your project, give it a distinct name, and update your main import.
----------------------------------------
*/

@use "uswds-core" with (
    $theme-font-path: "~/node_modules/ncbi-design-system/src/theme/fonts",
    $theme-image-path: "~/node_modules/@uswds/uswds/dist/img",
    $theme-grid-container-max-width: "desktop",

    // Color themes set following NCBI style guide
    // https://www.ncbi.nlm.nih.gov/style-guide/basics/colors/
    $theme-color-primary: #0071bc,
    $theme-color-primary-dark: #205493,
    $theme-color-primary-darker: #112e51,
    $theme-color-secondary: #e31c3d,
    $theme-color-secondary-dark: #cd2026,
    $theme-color-secondary-darker: #981b1e,

    // These theme variables set the background color of the site alerts
    $theme-color-emergency: #981b1e,
    $theme-color-info-lighter: #e1f3f8,

    $theme-modal-lg-content-max-width: "tablet",
    $theme-site-margins-breakpoint: "desktop",
    $theme-site-margins-width: 4,
    $theme-site-margins-mobile-width: 2,
    $theme-show-compile-warnings: false,
    $theme-show-notifications: false,
    $theme-focus-color: "blue-50v",
    $theme-link-hover-color: "primary-darker",
    $theme-global-paragraph-styles: true,
    $theme-global-link-styles: true,
    $theme-global-content-styles: true,

    $theme-utility-breakpoints: (
        "card": false,
        "card-lg": false,
        "mobile": false,
        "mobile-lg": false,
        "tablet": true,
        "tablet-lg": false,
        "desktop": true,
        "desktop-lg": false,
        "widescreen": false,
    ),
    $theme-typeface-tokens: (
        roboto: (
            display-name: "Roboto",
            cap-height: 358px,
            // Calculated from https://codepen.io/sebdesign/pen/EKmbGL?editors=0012
        ),
    ),
    // NCBI's font stack only uses Roboto, hence why Roboto Mono and Roboto Serif is not installed here.
    $theme-font-type-sans: "roboto",
    $theme-font-type-serif: "roboto",
    $theme-font-type-mono: "roboto",

    $theme-font-sans-custom-stack: '"Roboto", "Helvetica Neue", Arial, Tahoma',
    $theme-font-serif-custom-stack: '"Roboto", "Helvetica Neue", Arial, Tahoma',
    $theme-font-mono-custom-stack: '"Roboto", "Helvetica Neue", Arial, Tahoma',

    $theme-font-weight-light: 300,
    $theme-font-weight-normal: 400,
    $theme-font-weight-bold: 700,

    $theme-font-sans-custom-src: (
        "dir": "roboto",
        "roman": (
            100: false,
            200: false,
            300: "roboto-v30-latin-300",
            400: "roboto-v30-latin-regular",
            500: false,
            600: false,
            700: "roboto-v30-latin-700",
            800: false,
            900: false,
        ),
        "italic": (
            100: false,
            200: false,
            300: false,
            400: "roboto-v30-latin-italic",
            500: false,
            600: false,
            700: false,
            800: false,
            900: false,
        ),
    )
);
